requests>=2.32.0
pyautogui>=0.9.54
pyperclip>=1.9.0
pyobjc-framework-Cocoa>=10.3; sys_platform == "darwin"
pyobjc-framework-Quartz>=10.3; sys_platform == "darwin"
Pillow>=10.0.0
rapidocr-onnxruntime>=1.2.3
onnxruntime>=1.17.0
xlrd>=2.0.1
pyinstaller>=6.0
